[submodule "java-testng-web"]
	path = java-testng-web
	url = https://github.com/bredah/java-testng-web.git
[submodule "java-testng-appium-web"]
	path = java-testng-appium-web
	url = https://github.com/bredah/java-testng-appium-web.git
[submodule "java-api-junit5-api"]
	path = java-api-junit5-api
	url = https://github.com/bredah/java-api-junit5-api.git
